* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
    padding: 18px 35px;
}

/* header and navigation styles */

.header {
    background: #FFF8F3;
    padding-top: 50px;
    background-image: url("../images/header_bg.png"), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0 250px 50px 250px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

/* banner style */
.banner {
    display: flex;
    align-items: center;
    margin: 0 250px;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 10px;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 10px;
}

.banner-description {
    font-weight: 400;
    font-size: 25px;
    color: #757575;
    margin-bottom: 30px;
}

/* main section */
main {
    max-width: 1140px;
    margin: auto;
}

/* About Section Style */
.about {
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.section-title {
    margin-bottom: 30px;
}

.section-description {
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.info-title {
    font-weight: 400;
    font-size: 20px;
    color: #757575;
    margin-bottom: 10px;
}

.info-description{
    font-weight: 700;
    font-size: 20px;
    color:#474747;
}